{% extends "base.html.twig" %}
{% block stylesheets %}
    <link href="{{ asset('css/admin.css') }}" rel="stylesheet"/>     
{% endblock %}

{% block adminBody %}
    <h1>Administration</h1>
    <button class="btn btn-primary" href="{{ path('button_test') }}">Ajouter</button>
{% endblock %}