{% extends "base.html.twig" %}
{% block stylesheets %}
    <link href="{{ asset('css/admin.css') }}" rel="stylesheet"/>     
{% endblock %}

{% block adminBody %}
    <h1>Administration</h1>
    
    <div class="api-content">
       <div class="genre-group"> 
            <div class="form-group">
                <label for="select_genre">Sélectionnez un genre </label>
                <select class="form-control" id="form-control">
                <option>Rock</option>
                <option>Rap</option>
                <option>Classic</option>
                <option>Blues</option>
                <option>Electronic</option>
                </select>   
                
            </div>
            <button class="btn btn-primary" id="ajouter_genre">Ajouter</button>
            
      </div>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
    <script src="https://github.com/padolsey-archive/jquery.fn/tree/master/cross-domain-ajax "></script>
    <script src="{{ asset('js/shoutcast_api.js' )}}"> </script>
{% endblock %}

