<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}maRadio : Le site d'écoute sur internet!{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/yeti/bootstrap.min.css">
        {% block stylesheets %}
        <link href="{{ asset('css/base.css') }}" rel="stylesheet"/>    
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="/">maRadio - Site d'écoute</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarColor01">
              <ul class="navbar-nav mr-auto">
              </ul>
            </div>
        </nav>
        <div id="content">
            
            {% block content %}{% endblock %}

        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
