{% extends "base.html.twig" %}
{% block stylesheets %}
    <link href="{{ asset('css/index.css') }}" rel="stylesheet"/>     
{% endblock %}
{% block content %}
    
    <h1>Bienvenue sur maRadio</h1>
    <p> Vous pouvez accéder directement aux playlists ajoutées par l'administrateur</p>
    
    <div id="api-content-result">

       
             {% if data and tuneIn is defined and data is not null %}
              
             <p>
                 {{dump(data)}}
               
             </p>
                
                
             {% endif %}
            
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
    <script src="{{ asset('js/shoutcast_api.js' )}}"> </script>
{% endblock %}