{% extends "base.html.twig" %}
{% block stylesheets %}
    <link href="{{ asset('css/index.css') }}" rel="stylesheet"/>     
{% endblock %}
{% block content %}
    
    <h1>Bienvenue sur maRadio</h1>
   
    <div id="accesRadioAlea">
        <form class="form-group" id="form1" action="{{path('aleatoire')}}" method="POST">
            <p> Accédez à une radio aléatoire </p>
            <button type="button" class="btn btn-primary" name="submit" >Cliquez ici </button>
            
        </form>
    </div>

    <div id="accesRadioGenre">
        <form action="{{path('genre_redir')}}">
            <p> Accédez à une radio </p>
            <button  type="button" class="btn btn-primary" name="submit" >Cliquez ici </button>
        </form>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
    <script src="{{ asset('js/shoutcast_api.js' )}}"> </script>
{% endblock %}