#adminContent {
    text-align: center;
    margin-top: 10px;
    height: 100vh;
}
.api-content {
    height: 100vh;
}

.btn {
    float: right;
    margin-top: 10px;
        
}

.form-group {

    margin-bottom: 0px;
    display: inline-block;
    box-sizing:content-box;
    width: 25%;
}
.genre-group {
        width: 100% ;
       align-items: center;
}

#text-admin {
    text-align: center;
}

