#content {
        text-align: center;
        margin-top: 10px;
}
#api-content-result {
        height: 100vh;
}

#result {
        height: 100vh;
}
#radioLogoGenre {
        max-width: 30%;
        max-height: 30%;
}